<h1>Editing message</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :expiration %><br />
    <%= f.datetime_select :expiration %>
  </p>
  <p>
    <button value="Update" name="commit" id="message_submit">Update</button>
  </p>
<% end %>

<%= link_to 'Show', @message %>
