<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :job_title %><br />
    <%= f.text_field :job_title %>
  </p>
	<p>
		<%= f.label :program %><br />
		<% for program in Program.all %>
			<%= f.radio_button :program_id, program.id %> <%= f.label :program_id, program.name, :value => program.id %><br />
		<% end %>
	</p>
  <p>
    <%= f.label :status %><br />
    <%= f.radio_button :status, User.STATUS[:fulltime] %>
        <%= f.label :status, User.status_names()[User.STATUS[:fulltime]], :value => User.STATUS[:fulltime] %><br />
    <%= f.radio_button :status, User.STATUS[:parttime] %>
        <%= f.label :status, User.status_names()[User.STATUS[:parttime]], :value => User.STATUS[:parttime] %><br />
    <%= f.radio_button :status, User.STATUS[:inactive] %>
        <%= f.label :status, User.status_names()[User.STATUS[:inactive]], :value => User.STATUS[:inactive] %><br />
  </p>

<table>
    <tr>
        <th></th>
        <th>None</th>
        <th>Staff</th>
        <th>Manager</th>
    </tr>
    <tr>
        <td>Program</td>
        <td>
            <%= f.radio_button :program_role, NONE %>
        </td><td>
            <%= f.radio_button :program_role, STAFF %>
        </td><td>
            <%= f.radio_button :program_role, MANAGER %>
        </td>
    </tr>
    <tr>
        <td>HR</td>
        <td>
            <%= f.radio_button :hr_role, NONE %>
        </td><td>
            <%= f.radio_button :hr_role, STAFF %>
        </td><td>
            <%= f.radio_button :hr_role, MANAGER %>
        </td>
    </tr>
    <tr>
        <td>Maintenance</td>
        <td>
            <%= f.radio_button :workorder_role, NONE %>
        </td><td>
            <%= f.radio_button :workorder_role, STAFF %>
        </td><td>
            <%= f.radio_button :workorder_role, MANAGER %>
        </td>
    </tr>
</table>

  <p>
    <%= f.label :emergency_contact_name %><br />
    <%= f.text_field :emergency_contact_name %>
  </p>
  <p>
    <%= f.label :emergency_contact_phone %><br />
    <%= f.text_field :emergency_contact_phone %>
  </p>
  <p>
    <label>SIR email preferences:</label><br />
		<% for program in Program.all %>
			<%= f.check_box :preferred_sir_emails, :id => "user_preferred_sir_emails_#{program.id}",
			  :value => program.id, :name => "user[preferred_sir_emails][#{program.id}]", :checked => (@user.preferred_sir_emails.split(",").include? program.id.to_s)  %>
			  <%= f.label :preferred_sir_emails, program.name, :value => program.id %><br />
		<% end %>
  </p>
  
  <p>
    <%= button 'user', 'Update' %>
  </p>
<% end %>

<p>
  <%= link_to 'Show', @user %>
</p>
