<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Job title</th>
	<th>Roles</th>
    <th>Status</th>
    <th>Emergency contact name</th>
    <th>Emergency contact phone</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.full_name %></td>
    <td><%=h user.job_title %></td>
    <td><%=h user.role_names %></td>
    <td><%=h user.program.nil? ? "" : user.program.name %> <%=h user.status_name %></td>
    <td><%=h user.emergency_contact_name %></td>
    <td><%=h user.emergency_contact_phone %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
  </tr>
<% end %>
</table>

<p>
	Show:
	<%= link_to 'active', users_path %> |
	<%= link_to 'all', users_path(:show => "all") %>
</p>

