<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Job title:</b>
  <%=h @user.job_title %>
</p>

<p>
  <b>Status:</b>
  <%=h @user.status_name %>
</p>

<p>
  <b>Roles:</b>
  <%=h @user.role_names %>
</p>

<p>
  <b>Emergency contact name:</b>
  <%=h @user.emergency_contact_name %>
</p>

<p>
  <b>Emergency contact phone:</b>
  <%=h @user.emergency_contact_phone %>
</p>

<p>
  <%= link_to 'Edit', edit_user_path(@user) %>
</p>
