<h1>Editing workorder</h1>

<% form_for(@workorder) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sir_id, "SIR number" %><br />
    <%= f.text_field :sir_id %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p>
    <b>Status:</b> <%= @workorder.display_status %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= unconstrained_text_area f,  :description %>
  </p>
  <p>
    <%= f.check_box :risk %> <%= f.label :risk, "High risk" %>
  </p>
  <p>
    <b>Reporting User:</b> <%= @workorder.user.short_name %>
  </p>
  <p>
    <%= f.label :estimation %><br />
    <%= f.date_select :estimation %>
  </p>
  <p>
    <%= f.label :cost, "Cost:" %> <b>$</b><%= f.text_field :cost, :style => "width:30px;" %>
  </p>
  <p>
    <%= f.label :completed_on %><br />
    <%= f.date_select :completed_on %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= unconstrained_text_area f,  :note %>
  </p>
  <p>
    <%= button 'workorder', 'Update' %>
  </p>
<% end %>

<p>
  <%= link_to 'Show', @workorder %>
</p>
