<h1>Listing workorders</h1>

<table>
  <tr>
    <th>Sir</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Program</th>
    <th>Location</th>
    <th>Description</th>
    <th>Risk</th>
    <th>User</th>
    <th>Estimation</th>
    <th>Cost</th>
    <th>Completed on</th>
    <th>Notify on complete</th>
    <th>Note</th>
  </tr>

<% @workorders.each do |workorder| %>
  <tr>
    <td><%=h workorder.sir_id %></td>
    <td><%=h workorder.priority %></td>
    <td><%=h workorder.status %></td>
    <td><%=h workorder.program %></td>
    <td><%=h workorder.location %></td>
    <td><%=h workorder.description %></td>
    <td><%=h workorder.risk %></td>
    <td><%=h workorder.user_id %></td>
    <td><%=h workorder.estimation %></td>
    <td><%=h workorder.cost %></td>
    <td><%=h workorder.completed_on %></td>
    <td><%=h workorder.notify_on_complete %></td>
    <td><%=h workorder.note %></td>
    <td><%= link_to 'Show', workorder %></td>
    <td><%= link_to 'Edit', edit_workorder_path(workorder) %></td>
    <td><%= link_to 'Destroy', workorder, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New workorder', new_workorder_path %>