<h1>New workorder</h1>

<% form_for(@workorder) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>

  <p>
    <%= f.label :sir_id, "SIR Number (optional)" %><br />
    <%= f.text_field :sir_id, :value => @sir_id %>
  </p>
  <p>
  	<%= f.label :program %><br />
  	<% for program in Program.all %>
  		<%= f.radio_button :program_id, program.id %> <%= f.label :program_id, program.name, :value => program.id %><br />
  	<% end %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= unconstrained_text_area f, :description %>
  </p>
  <p>
    <%= f.check_box :risk %> <%= f.label :risk, "Safety Risk" %>
  </p>
  <p>
    <%= button 'workorder', 'Create' %>
  </p>
<% end %>

