<h1>New workorder</h1>

<% form_for(@workorder) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :program %><br />
    <%= f.text_field :program %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= unconstrained_text_area f, :description %>
  </p>
  <p>
    <%= f.label :risk %><br />
    <%= f.check_box :risk %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :estimation %><br />
    <%= f.date_select :estimation %>
  </p>
  <p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.label :completed_on %><br />
    <%= f.date_select :completed_on %>
  </p>
  <p>
    <%= f.label :notify_on_complete %><br />
    <%= f.check_box :notify_on_complete %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= unconstrained_text_area f,  :note %>
  </p>
  <p>
    <%= button 'workorder', 'Create' %>
  </p>
<% end %>

