<p>
  <b>Sir:</b>
  <% if @workorder.sir_id.nil? %>
    <i>No associated SIR</i>
  <% else %>
    <%= sprintf("%04d", @workorder.sir_id) %>
  <% end %>
</p>

<p>
  <b>Priority:</b>
  <%=h @workorder.priority %>
</p>

<p>
  <b>Status:</b>
  <%=h @workorder.display_status %>
</p>

<p>
  <b>Program:</b>
  <%=h @workorder.program.name %>
</p>

<p>
  <b>Location:</b>
  <%=h @workorder.location %>
</p>

<p>
  <b>Description:</b>
  <%=h @workorder.description %>
</p>

<p>
  <b>High Risk:</b>
  <%=h @workorder.risk ? "yes" : "no" %>
</p>

<p>
  <b>User:</b>
  <%=h @workorder.user.short_name %>
</p>

<p>
  <b>Estimation:</b>
  <%=h @workorder.estimation %>
</p>

<p>
  <b>Completed on:</b>
  <%=h @workorder.completed_on %>
</p>

<p>
  <b>Cost:</b>
  $<%=h @workorder.cost %>
</p>

<p>
  <b>Note:</b>
  <%=h @workorder.note %>
</p>

<p>
<%= link_to 'Edit', edit_workorder_path(@workorder) %>
</p>