<h2>
    Customer Information <span><%= link_to 'Edit', edit_customer_path(@customer) %></span>
</h2>


<p>
    <b>Name:</b>
    <%=h @customer.full_name %>
</p>

<p>
    <b>Program:</b>
    <%= link_to @customer.program.name, @customer.program unless @customer.program.nil? %>
</p>

<p>
    <b>Teammates:</b>
    <%= @customer.teammates.collect{|x| link_to x.full_name, x}.to_sentence %>
</p>

<p>
    <b>Admitted on:</b>
    <%=h @customer.admitted_on %>
</p>

<p>
    <b>Released on:</b>
    <%=h @customer.released_on %>
</p>

<br />
<br />
<br />


<h2>SIRs <span><%= link_to 'PDF', customer_path(@customer, :format => 'pdf') unless @customer.sirs.empty? %></span></h2>

<%= render :partial => 'sirs/sir_list', :object => @customer.sirs.sort{|a,b|
    if a.incident_datetime.nil? or b.incident_datetime.nil?
        0
    else
        b.incident_datetime <=> a.incident_datetime
    end
    }, :locals => {:empty_list_message => "No reported incidents"} unless @customer.nil? or @customer.sirs.nil? %>

