<h1>Editing teammate</h1>

<% form_for(@teammate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :job_title %><br />
    <%= f.text_field :job_title %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= button 'teammate', 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @teammate %>
