<h1>New incidenttype</h1>

<% form_for(@incidenttype) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= button 'incidenttype', 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', incidenttypes_path %>